
[submodule "gh-pages"]
	path = gh-pages
	url = git://github.com/flatpickr/flatpickr.github.io.git
	branch = master
[submodule "pages"]
	path = pages
	url = git://github.com/flatpickr/flatpickr.github.io.git
	branch = master
